black
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-iconify
dash-mantine-components
fuzzywuzzy
ipykernel
Levenshtein==0.23.0
numpy
pandas
plotly
pymssql
pyodbc
python-dotenv
SQLAlchemy