@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Hedvig+Letters+Serif:opsz@12..24&family=Inter&family=Rethink+Sans:wght@400;500;600;700;800&display=swap');

/* ------------------- Fonts ------------------- */
.fira-code {
  font-family: 'Fira Code', monospace;
}

.inter {
  font-family: 'Inter', sans-serif;
}

.rethink-sans {
  font-family: 'Rethink Sans', sans-serif;
}

.hedvig-letters-serif {
  font-family: 'Hedvig Letters Serif', serif;
}

.center-aligned-header .ag-header-cell-label {
  justify-content: center;
}

.center-aligned-cell {
  text-align: center;
}

.card-body-modal-style {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.test-border {
  border: 1px solid red;
}

/* ------------------- Buttons ------------------- */
.radio-group .form-check {
  padding-left: 0;
}

.radio-group .btn-group > .form-check:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.radio-group .btn-group > .form-check:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



/* ------------------- Colors ------------------- */
.root {
  --bs-danger: #e30613;
  --bs-success: #00a13a;
  --bs-warning: #ffdd00;
}

body {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
}

/* ------------------- Responsibility ------------------- */
@media (max-width: 768px) {
  /* ... */
}

